#content2{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    display:none;
    overflow:hidden;
    justify-content:center;
    align-items:center;
}

button{
    border-radius:8px;
    border:0;
    outline:none;
}

#close{
    font:1.55rem Arial,Serilf;
    text-align:right;
}

.close{
    position:relative;
    right:4px;
    font:1.55rem Arial,Serilf;
    cursor:pointer;
}

#register-block{
    width:472px;
    height:480px;
    background-color:white;
    text-align:center;
}

#register-head{
    width:472px;
    height:55px;
    text-align:center;
    font:1.25rem Arial,Serilf;
}

#head-line{
    font:1.875rem Arial,Serilf;
    font-weight:800;
    color:blue;
}

#register-content{
    width:472px;
    height:350px;
}

#email-block,#password-block,#password-confirm-block{
    width:472px;
    height:79px;
}

#email-text,#password-text,#passwordConfirm-text{
    width:472px;
    height:60px;
}



#email-error,#password-error,#passwordConfirm-error{
    width:472px;
    height:19px;
}

#registerEmail,#registerPassword,#passwordConfirm{
    position:relative;
    width:272px;
    height:35px;
    top:20px;
}

#registerPassword,#passwordConfirm{
    letter-spacing:6px;
}

#confirm-code{
    width:472px;
    height:60px;
    display:flex;
    justify-content:center;
    align-items:center;
}

#confirmCode-input,#sendConfirmcode{
    width:236px;
    height:30px;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}

#sendConfirmcode-block,#confirmcodeError-block{
    width:118px;
    height:30px;
    text-align:center;
}

#emailCode{
    width:84px;
    height:29px;
    position:relative;
    left:10px;
    outline:none;
    border-radius:8px;
    border:1px solid #ccc;
}

#sendCode{
    width:83px;
    height:28px;
    position:relative;
    left:10px;
    color:white;
    background-color:#317ef3;
    border-color:transparent;
    cursor:pointer;
}

#confirmcodeError{
    position:relative;
    right:18px;
    top:7px;
    font:12px Arial,Serilf;
}

#register-button{
    width:472px;
    height:90px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#register{
    width:216px;
    height:36px;
    border-color:transparent;
    cursor:pointer;
    color:white;
    background-color:grey;
    font:1.25rem Arial,Serilf;
}